<!DOCTYPE html> 
<html lang="ja">
<head>
 <meta charset="UTF-8"> 
 <title>Count</title> 
 <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
 <link rel="stylesheet" href="/assets/css/count.css">
 </head> 

<body> 
  <div> 
    <% if @number % 3 == 0 && @number != 0 || @number.to_s.include?("3")  %> 
      <% if  % 3 == 0%>
        <h1 class="thr whl_thr"><%= @number %></h1> 
      <% elsif @number % 5 == 0%>
        <h1 class="fiv whl_thr"><%= @number %></h1>
      <% elsif @number % 15 == 0 %>
        <h1 class="fif whl_thr"><%= @number %></h1>
      <% else %>
        <h1 class="whl_thr"><%= @number %></h1>
      <% end %>
    <% else %>
      <% if @number % 5 == 0%>
        <h1 class="fiv"><%= @number %></h1>
      <% elsif @number % 15 == 0 %>
        <h1 class="fif"><%= @number %></h1> 
      <% else %>
        <h1><%= @number %></h1>
      <% end %>
    <% end %> 
  </div>
</div> 
</div>
</div> 
  <form action="/plus" method="post">
     <input type="submit" value="+">
  </form> 
    <form action="/minus" method="post"> 
    <input type="submit" value="-"> 
  </form> 
  <form action="/clear" method="post"> 
    <input type="submit" value="clear">
  </form>
</body> 
</html>